<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <DXThemeManager>
    <setting name="ApplicationThemeName" serializeAs="String">
      <value>Office2019Colorful</value>
    </setting>
  </DXThemeManager>
  <connectionStrings>
    <add name="FiltreEntities" connectionString="metadata=res://*/Model.ModelFiltre.csdl|res://*/Model.ModelFiltre.ssdl|res://*/Model.ModelFiltre.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Filtre;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>